<StateInfo>

   <!--
   ****************************************************************************
   ** This file is where you configure your navigation. To find out more      *
   ** about it, head over to http://navigation.codeplex.com/documentation     *
   ****************************************************************************
   -->

   <!-- Standard Content Pages -->
   <dialog key="Home" initial="Page" path="~/Views/Home/Index.aspx">
      <state key="Page" page="~/Views/Home/Index.aspx" route="~" defaultTypes="Logout=bool" trackCrumbTrail="false"></state>
   </dialog>
   <dialog key="About" initial="Page">
      <state key="Page" page="~/Views/Home/About.aspx" route="About" trackCrumbTrail="false"></state>
   </dialog>
   <dialog key="Contact" initial="Page">
      <state key="Page" page="~/Views/Home/Contact.aspx" route="Contact" trackCrumbTrail="false"></state>
   </dialog>

   <!-- User Registration -->
   <dialog key="Register" initial="Page">
      <state key="Page" page="~/Views/Account/Register.aspx" route="Account/Register" trackCrumbTrail="false"></state>
   </dialog>
   <dialog key="ResendVerificationEmail" initial="Page">
      <state key="Page" page="~/Views/Account/ResendVerificationEmail.aspx" route="Account/ResendVerificationEmail" trackCrumbTrail="false"></state>
   </dialog>
   <dialog key="RegistrationConfirmation" initial="Page">
      <state key="Page" page="~/Views/Account/RegistrationConfirmation.aspx" route="Account/RegistrationConfirmation" trackCrumbTrail="false"></state>
   </dialog>
   <dialog key="RegistrationEmailVerification" initial="Page">
      <state key="Page" page="~/Views/Account/RegistrationEmailVerification.aspx" route="Account/RegistrationEmailVerification" trackCrumbTrail="false"></state>
   </dialog>

   <!-- Login/Authentication Pages -->
   <dialog key="Login" initial="Page">
      <state key="Page" page="~/Views/Account/Login.aspx" route="Account/Login" trackCrumbTrail="false"></state>
   </dialog>
   <dialog key="RequestPasswordReset" initial="Page">
      <state key="Page" page="~/Views/Account/RequestPasswordReset.aspx" route="Account/RequestPasswordReset" trackCrumbTrail="false">
         <transition key="RequestPasswordResetConfirmation" to="RequestPasswordResetConfirmation" />
      </state>
      <state key="RequestPasswordResetConfirmation" page="~/Views/Account/RequestPasswordResetConfirmation.aspx" route="Account/RequestResetPasswordConfirmation" trackCrumbTrail="false"></state>
   </dialog>
   <dialog key="ResetPassword" initial="Page">
      <state key="Page" page="~/Views/Account/ResetPassword.aspx" route="Account/ResetPassword" trackCrumbTrail="false">
         <transition key="ResetPasswordConfirmation" to="ResetPasswordConfirmation" />
      </state>
      <state key="ResetPasswordConfirmation" page="~/Views/Account/ResetPasswordConfirmation.aspx" route="Account/ResetPasswordConfirmation" trackCrumbTrail="false"></state>
   </dialog>
   <dialog key="AccountLocked" initial="Page">
      <state key="Page" page="~/Views/Account/AccountLocked.aspx" route="Account/AccountLocked" trackCrumbTrail="false"></state>
   </dialog>

   <!-- Two-Factor Authentication -->
   <dialog key="ExternalLoginHandler" initial="Page">
      <state key="Page" page="~/Views/Account/ExternalLoginHandler.aspx" route="Account/ExternalLoginHandler" trackCrumbTrail="false"></state>
   </dialog>
   <dialog key="SendTwoFactorCode" initial="Page">
      <state key="Page" page="~/Views/Account/SendTwoFactorCode.aspx" route="Account/SendTwoFactorCode" trackCrumbTrail="false">
         <transition key="VerifyTwoFactorCode" to="VerifyTwoFactorCode" />
      </state>
      <state key="VerifyTwoFactorCode" page="~/Views/Account/VerifyTwoFactorCode.aspx" route="Account/VerifyTwoFactorCode" trackCrumbTrail="false"></state>
   </dialog>
   <dialog key="UserNotVerified" initial="Page">
      <state key="Page" page="~/Views/Account/UserNotVerified.aspx" route="Account/UserNotVerified" trackCrumbTrail="false"></state>
   </dialog>

   <!-- Account Management Pages -->
   <dialog key="Manage" initial="Page">
      <state key="Page" page="~/Views/Account/Manage.aspx" route="Account/Manage" trackCrumbTrail="false">
         <transition key="ChangePassword" to="ChangePassword" />
         <transition key="UpdatePersonalDetails" to="UpdatePersonalDetails" />
         <transition key="AddPhoneNumber" to="AddPhoneNumber" />
      </state>
      <state key="ChangePassword" page="~/Views/Account/ChangePassword.aspx" route="Account/ChangePassword" trackCrumbTrail="false"></state>
      <state key="UpdatePersonalDetails" page="~/Views/Account/UpdatePersonalDetails.aspx" route="Account/UpdatePersonalDetails" trackCrumbTrail="false"></state>
      <state key="AddPhoneNumber" page="~/Views/Account/AddPhoneNumber.aspx" route="Account/AddPhoneNumber" trackCrumbTrail="false">
         <transition key="VerifyPhoneNumber" to="VerifyPhoneNumber" />
      </state>
      <state key="VerifyPhoneNumber" page="~/Views/Account/VerifyPhoneNumber.aspx" route="Account/VerifyPhoneNumber" trackCrumbTrail="false"></state>
   </dialog>
</StateInfo>
